#grid {
    display: grid;
    grid-template-columns: repeat(100, 25px);
    grid-template-rows: repeat(100, 25px);
    border: solid black;
    height: 500px;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
   
  }
 .box {
     justify-content: space-evenly;
     box-sizing: border-box;
     margin: 0;
     padding: 0;
    
     
 }

 .hover{
     background-color: black;
 }